# Gradle
.gradle/
build/
*/build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Android
local.properties
*.keystore
*.jks
*.ap_
*.aab
*.apk
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.DS_Store
.vscode/
*.hprof

# Security
keystore.properties
secrets.properties
google-services.json
*.pem

# Detekt
detekt-report.html
detekt-report.xml

# Coverage
*.exec
jacoco/
